@model VmLayout

<footer class="second-footer second-footer-homepage">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-us">
                    <div class="logo">
                        <img src="/img/logo-icon.png" alt="">
                        <div class="right-content">
                            <h2>Fenco</h2>
                            <span>Fashion, Cosmetics & Beauty</span>
                        </div>
                    </div>
                    <p>I'm baby master cleanse health goth etsy gastropub. Bitters whatever small batch fingerstache mumblecore, palo santo umami typewriter tattooed truffaut blue bottle twee.</p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer-widget">
                    <h4>Policy Info</h4>
                    <ul>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Terms of Use</a>
                        </li>
                        <li>
                            <a href="#">Terms of Sale</a>
                        </li>
                        <li>
                            <a href="#">Report Abuse</a>
                        </li>
                        <li>
                            <a href="#">Report Spam</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer-widget">
                    <h4>Useful Links</h4>
                    <ul>
                        <li>
                            <a href="#">Women Collection</a>
                        </li>
                        <li>
                            <a href="#">Man Collection</a>
                        </li>
                        <li>
                            <a href="#">Kids Collection</a>
                        </li>
                        <li>
                            <a href="#">Accesories</a>
                        </li>
                        <li>
                            <a href="#">Gift & Gift Cards</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer-widget">
                    <h4>Customer Support</h4>
                    <ul>
                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                        <li>
                            <a href="#">FAQs</a>
                        </li>
                        <li>
                            <a href="#">Order Tracking</a>
                        </li>
                        <li>
                            <a href="#">Shopping & Returns</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="sub-footer">
                    <div class="row">
                        <div class="col-lg-6">
                            <p>© All rights reserved. Fenco Team 2021.</p>
                        </div>
                        <div class="col-lg-6">
                            <ul class="social-icons d-flex">
                                @foreach (var item in Model.Socials)
                                {
                                    <li>
                                        <a href="https://facebook.com">
                                            <i class="@item.Icon"></i>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>