
@{
    ViewData["Title"] = "Index";
}

<main>
    <section id="about-us-heading">
        <div class="container expanded">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>Contact Us</h2>
                        <span>Don't be shy, contact us right now.</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact-us-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <h2>Find us on map<br />& Contact us now.</h2>
                    <p>
                        Street art enamel pin etsy direct trade schlitz activated
                        charcoal knausgaard shabby chic. Intelligentsia celiac
                        authentic, jianbing cliche wayfarers stumptown chambray fanny
                        pack pop-up bushwick vinyl messenger bag copper viral activated
                        charcoal, everyday carry four dollar toast organic blog
                        gastropub. Lyft chambray unicorn drinking vinegar, before they
                        sold out.<br /><br />Helvetica fingerstache leggings cliche
                        synth, try-hard slow-carb raclette migas forage VHS vinyl
                        typewriter live-edge. Swag portland drinking vinegar, squid
                        umami green juice. Knausgaard raclette bitters, blue bottle
                        typewriter.
                    </p>
                    <div class="border-dark-button">
                        <a href="contact-us.html">Contact Us</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div id="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.2601370494635!2d-0.13013768402810375!3d51.508443318447696!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTHCsDMwJzMwLjQiTiAwwrAwNyc0MC42Ilc!5e0!3m2!1sen!2s!4v1611681704263!5m2!1sen!2s"
                                width="100%"
                                height="500"
                                frameborder="0"
                                style="border: 0"
                                allowfullscreen=""
                                aria-hidden="false"
                                tabindex="0"></iframe>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="info-items">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="info-content">
                                    <ul>
                                        <li>
                                            <h4>We're in London</h4>
                                        </li>
                                        <li>
                                            Address:
                                            <span>4903 Newton Street<br />Saint Cloud, MN 56301</span>
                                        </li>
                                        <li>Phone: <span>+12 345 5478 745</span></li>
                                        <li>Email: <span>info@fencolondon.com</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="info-content">
                                    <ul>
                                        <li>
                                            <h4>We're in Paris</h4>
                                        </li>
                                        <li>
                                            Address:
                                            <span>4903 Newton Street<br />Saint Cloud, MN 56301</span>
                                        </li>
                                        <li>Phone: <span>+21 345 5478 745</span></li>
                                        <li>Email: <span>info@fencoparis.com</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="info-content">
                                    <ul>
                                        <li>
                                            <h4>We're in Milan</h4>
                                        </li>
                                        <li>
                                            Address:
                                            <span>4903 Newton Street<br />Saint Cloud, MN 56301</span>
                                        </li>
                                        <li>Phone: <span>+45 345 5478 745</span></li>
                                        <li>Email: <span>info@fencomilan.com</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="fenco-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="info-item">
                        <div class="inner-content">
                            <div class="left-logo">
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            <div class="right-text">
                                <h6>Free Shipping</h6>
                                <span>Free, fast & secure delivery within 24h.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-item">
                        <div class="inner-content">
                            <div class="left-logo">
                                <i class="fa-solid fa-shield-blank"></i>
                            </div>
                            <div class="right-text">
                                <h6>Secure Payment</h6>
                                <span>Up to 12 months open for support tickets.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-item">
                        <div class="inner-content">
                            <div class="left-logo">
                                <i class="fa-solid fa-arrow-rotate-left"></i>
                            </div>
                            <div class="right-text">
                                <h6>30 Days Return</h6>
                                <span>30 days free returns for unhappy products.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

