@model VmHome 
@{
    ViewData["Title"] = "Index";
}

<main>
    <section id="page-heading">
        <div class="container expanded">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>
                            Welcome to
                            <br>
                            <em>Portfolio Masonry</em>
                        </h2>
                        <span>Home / <em> PORTFOLIO </em></span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="portfolio-masonry">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="portfolio-filters">
                        <ul>
                            <li class="active" data-filter="*">All Products</li>
                            @foreach (var item in Model.Categories)
                            {
                                <li data-filter=".category-women"><a asp-controller="portfolio" asp-action="index" asp-route-prId="@item.Id" style="color: #000;">@item.Name</a></li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row masonry-layout filters-content normal-col-gap">
                        @foreach (var item in Model.Portfolios)
                        {
                            <div class="col-md-4 masonry-item all category-kids category-women">
                                <div class="portfolio-item">
                                    <div class="thumb">
                                        <div class="hover-content">
                                            <ul class="icons">
                                                <li><a href="portfolio-details"><i><svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path><path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path></svg></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="img-box">
                                            <div class="img-box-inner">
                                                <img src="~/Uploads/@item.PortfolioImage.Image" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="down-content">
                                        <h4><a href="portfolio-details">@item.Title</a></h4>
                                        <span class="category">@item.Category.Name</span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                @*<div class="col-lg-12">
                    <div class="border-dark-button">
                        <a href="full-width-portfolio.html">Load More Products</a>
                    </div>
                </div>*@
            </div>
        </div>
    </section>

    <section id="fenco-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="info-item">
                        <div class="inner-content">
                            <div class="left-logo">
                                <i><svg viewBox="0 0 24 24" width="52" height="52" stroke="currentColor" stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><rect x="1" y="3" width="15" height="13"></rect><polygon points="16 8 20 8 23 11 23 16 16 16 16 8"></polygon><circle cx="5.5" cy="18.5" r="2.5"></circle><circle cx="18.5" cy="18.5" r="2.5"></circle></svg></i>
                            </div>
                            <div class="right-text">
                                <h6>Free Shipping</h6>
                                <span>Free, fast &amp; secure delivery within 24h.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-item">
                        <div class="inner-content">
                            <div class="left-logo">
                                <i><svg viewBox="0 0 24 24" width="52" height="52" stroke="currentColor" stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path></svg></i>
                            </div>
                            <div class="right-text">
                                <h6>Secure Payment</h6>
                                <span>Up to 12 months open for support tickets.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-item">
                        <div class="inner-content">
                            <div class="left-logo">
                                <i><svg viewBox="0 0 24 24" width="52" height="52" stroke="currentColor" stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><polyline points="1 4 1 10 7 10"></polyline><path d="M3.51 15a9 9 0 1 0 2.13-9.36L1 10"></path></svg></i>
                            </div>
                            <div class="right-text">
                                <h6>30 Days Return</h6>
                                <span>30 days free returns for unhappy products.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

