@model VmHome

<main>
    <section id="second-page-project-heading">
        <div class="container expanded">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>Welcome to<br><em>Must-Have Skater Girl Items.</em></h2>
                        <span><em>By:</em> Admin <em> Date:</em> @Model.Blog.CreatedDate.ToString("dd.MM.yyyy") <em> Category:</em> Fashion</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="post-details-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="project-heading">
                        <h2>@Model.Blog.Title</h2>
                    </div>
                </div>
                <div class="col-lg-12">
                    <img src="~/Uploads/@Model.Blog.BlogImage.Image" alt="">
                </div>
                <div class="col-lg-12">
                    <p class="center-paragraph">
                        @Model.Blog.BlogContent.Content
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="post-comments">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="comments-title">
                        <h2>7 Comments <strong>on</strong> "<em>Must-Have Skater Girl Items</em>"</h2>
                    </div>
                    <ul class="comments">
                        <li>
                            <div class="comment-author-image">
                                <img src="/img/comment-author-01.jpeg" alt="">
                            </div>
                            <div class="right-content">
                                <h6>Robert Imeri <span>January 10, 2020</span></h6>
                                <a href="#" class="reply-button">Reply</a>
                                <p>Franzen tumeric sriracha and quinoa goard next level. Cold-pressed kinfolk cronut short ditch freegan kistrater selfies.</p>
                            </div>
                        </li>
                        <li class="replied">
                            <div class="comment-author-image">
                                <img src="/img/comment-author-02.jpeg" alt="">
                            </div>
                            <div class="right-content">
                                <h6>Kate Luise <span>January 11, 2020</span></h6>
                                <a href="#" class="reply-button">Reply</a>
                                <p>Franzen tumeric sriracha and quinoa goard next level. Cold-pressed kinfolk cronut short ditch freegan kistrater selfies.</p>
                            </div>
                        </li>
                        <li class="replied-double">
                            <div class="comment-author-image">
                                <img src="/img/comment-author-03.jpeg" alt="">
                            </div>
                            <div class="right-content">
                                <h6>Kate Luise <span>January 11, 2020</span></h6>
                                <a href="#" class="reply-button">Reply</a>
                                <p>Franzen tumeric sriracha and quinoa goard next level. Cold-pressed kinfolk cronut short ditch freegan kistrater selfies.</p>
                            </div>
                        </li>
                        <li>
                            <div class="comment-author-image">
                                <img src="/img/comment-author-02.jpeg" alt="">
                            </div>
                            <div class="right-content">
                                <h6>Antonio Matters <span>January 09, 2020</span></h6>
                                <a href="#" class="reply-button">Reply</a>
                                <p>Franzen tumeric sriracha and quinoa goard next level. Cold-pressed kinfolk cronut short ditch freegan kistrater selfies.</p>
                            </div>
                        </li>
                    </ul>
                    <div class="leave-comment-title">
                        <h2>Leave a comment</h2>
                        <span>Please fill all the required inputs below.</span>
                    </div>
                    <form id="comment-submit" action="#" method="post">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <input name="email" type="text" class="form-control" id="email" placeholder="Your email..." required="">
                            </div>
                            <div class="col-lg-12">
                                <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your comment..." required=""></textarea>
                            </div>
                            <div class="col-lg-12">
                                <button type="submit" id="form-submit" class="main-dark-button">Post Comment</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section id="fenco-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="info-item">
                        <div class="inner-content">
                            <div class="left-logo">
                                <i><svg viewBox="0 0 24 24" width="52" height="52" stroke="currentColor" stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><rect x="1" y="3" width="15" height="13"></rect><polygon points="16 8 20 8 23 11 23 16 16 16 16 8"></polygon><circle cx="5.5" cy="18.5" r="2.5"></circle><circle cx="18.5" cy="18.5" r="2.5"></circle></svg></i>
                            </div>
                            <div class="right-text">
                                <h6>Free Shipping</h6>
                                <span>Free, fast &amp; secure delivery within 24h.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-item">
                        <div class="inner-content">
                            <div class="left-logo">
                                <i><svg viewBox="0 0 24 24" width="52" height="52" stroke="currentColor" stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path></svg></i>
                            </div>
                            <div class="right-text">
                                <h6>Secure Payment</h6>
                                <span>Up to 12 months open for support tickets.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-item">
                        <div class="inner-content">
                            <div class="left-logo">
                                <i><svg viewBox="0 0 24 24" width="52" height="52" stroke="currentColor" stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><polyline points="1 4 1 10 7 10"></polyline><path d="M3.51 15a9 9 0 1 0 2.13-9.36L1 10"></path></svg></i>
                            </div>
                            <div class="right-text">
                                <h6>30 Days Return</h6>
                                <span>30 days free returns for unhappy products.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main> 

