
@{
    ViewData["Title"] = "Index";
}

<main>
    <section id="page-heading">
        <div class="container expanded">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>
                            Welcome to
                            <br>
                            <em>Right Sidebar Entries.</em>
                        </h2>
                        <span>Home / <em> BLOG ENTRIES</em></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="full-width-blog grid-right-sidebar-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row justify-content-center masonry-layout filters-content normal-col-gap">
                                <div class="col-lg-12 masonry-item all category-kids category-women">
                                    <div class="entries-item ">
                                        <div class="thumb ">
                                            <a href="blog-details.html"><img src="/img/blog-post-01.jpeg " alt=" "></a>
                                        </div>
                                        <div class="down-content ">
                                            <span class="date ">13 November 2020 / By: <a href="blog-details.html">fenco Admin</a> / Culture, Fashion, Branding</span>
                                            <a href="blog-details.html">
                                                <h4>Must-Have Skater Girl Items</h4>
                                            </a>
                                            <p>Cornhole tacos hammock, chillwave cold-pressed butcher selfies yuccie coloring book +1 artisan. Trade chicharrones raw denim beard kombucha cold-pressed iPhone locavore blue bottle...</p>
                                            <div class="border-dark-button ">
                                                <a href="blog-details.html ">Discover More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 masonry-item all category-kids category-men">
                                    <div class="entries-item ">
                                        <div class="thumb ">
                                            <a href="blog-details.html"><img src="/img/blog-post-02.jpeg " alt=" "></a>
                                        </div>
                                        <div class="down-content ">
                                            <span class="date ">13 November 2020 / By: <a href="blog-details.html">fenco Admin</a> / Culture, Fashion, Branding</span>
                                            <a href="blog-details.html">
                                                <h4>Must-Have Skater Girl Items</h4>
                                            </a>
                                            <p>
                                                Narwhal slow-carb gluten-free direct trade literally copper mug banjo letterpress street art quinoa listicle roof party mlkshk paleo. Lo-fi vice offal quinoa. Chartreuse helvetica shoreditch lo-fi literally
                                                waistcoat letterpress air plant...
                                            </p>
                                            <div class="border-dark-button ">
                                                <a href="blog-details.html ">Discover More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 masonry-item all category-men category-deals">
                                    <div class="entries-item ">
                                        <div class="thumb ">
                                            <a href="blog-details.html"><img src="/img/blog-post-03.jpeg " alt=" "></a>
                                        </div>
                                        <div class="down-content ">
                                            <span class="date ">13 November 2020 / By: <a href="blog-details.html">fenco Admin</a> / Culture, Fashion, Branding</span>
                                            <a href="blog-details.html">
                                                <h4>Must-Have Skater Girl Items</h4>
                                            </a>
                                            <p>Subway tile master cleanse palo santo mumblecore vice chicharrones. Four loko tote bag PBR&B, leggings echo park letterpress hoodie...</p>
                                            <div class="border-dark-button ">
                                                <a href="blog-details.html ">Discover More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 masonry-item all category-women">
                                    <div class="entries-item last-entries-item ">
                                        <div class="thumb ">
                                            <a href="blog-details.html"><img src="/img/blog-post-01.jpeg " alt=" "></a>
                                        </div>
                                        <div class="down-content ">
                                            <span class="date ">13 November 2020 / By: <a href="blog-details.html">fenco Admin</a> / Culture, Fashion, Branding</span>
                                            <a href="blog-details.html">
                                                <h4>Must-Have Skater Girl Items</h4>
                                            </a>
                                            <p>
                                                Cornhole tacos hammock, chillwave cold-pressed butcher selfies yuccie coloring book +1 artisan. Single-origin coffee actually deep v 90's, tofu blue bottle cred poutine. Sustainable poutine kogi etsy jean
                                                shorts fam farm-to-table direct trade listicle twee put a bird on it keytar...
                                            </p>
                                            <div class="border-dark-button ">
                                                <a href="blog-details.html ">Discover More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-lg-12">
                            <div class="border-dark-button ">
                                <a href="full-width-blog.html ">Load More Articles</a>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-4 ">
                    <div class="sidebar-filter ">
                        <div class="row ">
                            <div class="col-lg-12 ">
                                <div class="sidebar-widget search-box ">
                                    <input type="search " placeholder="Type here to search... ">
                                </div>
                            </div>
                            <div class="col-lg-12 ">
                                <div class="sidebar-widget recent-posts ">
                                    <h4>Recent Posts</h4>
                                    <ul>
                                        <li>
                                            <a href="blog-details.html">
                                                <img src="/img/recent-post-01.jpeg " alt=" ">
                                                <div class="right-content ">
                                                    <h6>Must-Have Skater Girl Items</h6>
                                                    <span>13 November 2020</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="blog-details.html">
                                                <img src="/img/recent-post-02.jpeg " alt=" ">
                                                <div class="right-content ">
                                                    <h6>Must-Have Skater Girl Items</h6>
                                                    <span>13 November 2020</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="blog-details.html">
                                                <img src="/img/recent-post-03.jpeg " alt=" ">
                                                <div class="right-content ">
                                                    <h6>Must-Have Skater Girl Items</h6>
                                                    <span>13 November 2020</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-12 ">
                                <div class="sidebar-widget products-categories ">
                                    <h4>Products Categories</h4>
                                    <ul>
                                        <li><a href="grid-categories.html ">Women Collection <em>36</em></a></li>
                                        <li><a href="grid-categories.html ">Men Collection <em>43</em></a></li>
                                        <li><a href="grid-categories.html ">Kids Collection <em>62</em></a></li>
                                        <li><a href="grid-categories.html ">Accessories <em>18</em></a></li>
                                        <li><a href="grid-categories.html ">Hot Deals <em>8</em></a></li>
                                        <li><a href="grid-categories.html ">New Arrivals <em>24</em></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-12 ">
                                <div class="sidebar-widget promotion-widget ">
                                    <a href="product-details-v1.html ">
                                        <div class="thumb ">
                                            <img src="/img/new-arrival-ads.jpeg " alt=" ">
                                            <div class="inner-content ">
                                                <span class="banner ">New Arrivals</span>
                                                <h4>Livia fenco - Fashion<br><em>new arrival.</em></h4>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="fenco-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="info-item">
                        <div class="inner-content">
                            <div class="left-logo">
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            <div class="right-text">
                                <h6>Free Shipping</h6>
                                <span>Free, fast & secure delivery within 24h.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-item">
                        <div class="inner-content">
                            <div class="left-logo">
                                <i class="fa-solid fa-shield-blank"></i>
                            </div>
                            <div class="right-text">
                                <h6>Secure Payment</h6>
                                <span>Up to 12 months open for support tickets.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-item">
                        <div class="inner-content">
                            <div class="left-logo">
                                <i class="fa-solid fa-arrow-rotate-left"></i>
                            </div>
                            <div class="right-text">
                                <h6>30 Days Return</h6>
                                <span>30 days free returns for unhappy products.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
