@model VmHome

@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section id="slider-container">
        <div class="slider">
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="image">
                        <img src="/img/banner-image-1.jpeg" alt="">
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-content">
                                    <p class="arrivals">New Arrivals</p>
                                    <h1 class="animate__animated animate__jackInTheBox">Sneakers <span>Splash</span></h1>
                                    <!-- <h1 class="animate__animated animate__flip">An animated element</h1> -->
                                    <p class="custom-paragraph">Shoomatic offers your very comfortable time <br>on walking and exercises.</p>
                                    <div class="border-dark-button">
                                        <a href="#">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="/img/banner-image-2.jpeg" alt="">
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-content">
                                    <p class="arrivals">New Arrivals</p>
                                    <h1 class="animate__animated animate__jackInTheBox">Sneakers <span>Splash</span></h1>
                                    <!-- <h1 class="animate__animated animate__flip">An animated element</h1> -->
                                    <p class="custom-paragraph">Shoomatic offers your very comfortable time <br>on walking and exercises.</p>
                                    <div class="border-dark-button">
                                        <a href="#">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="img/banner-image-3.jpeg" alt="">
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-content">
                                    <p class="arrivals">New Arrivals</p>
                                    <h1 class="animate__animated animate__jackInTheBox">Sneakers <span>Splash</span></h1>
                                    <!-- <h1 class="animate__animated animate__flip">An animated element</h1> -->
                                    <p class="custom-paragraph">Shoomatic offers your very comfortable time <br>on walking and exercises.</p>
                                    <div class="border-dark-button">
                                        <a href="#">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="under-banner-items">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 p-0">
                    <div class="under-banner-item first-item">
                        <div class="text">
                            <h2>
                                Extreme Rare <br> Sneakers
                            </h2>
                            <div class="text-button">
                                <a href="#">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-0">
                    <div class="under-banner-item second-item">
                        <div class="text">
                            <h2>
                                Awesome <br> Blank Outfit
                            </h2>
                            <div class="text-button">
                                <a href="#">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-0">
                    <div class="under-banner-item third-item">
                        <div class="text">
                            <h2>
                                Sportwear <br> Up to 50% off
                            </h2>
                            <div class="text-button">
                                <a href="#">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="recent-products">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>New Arrivals</h2>
                        <span>Here you can check out our new products with fair price on fenco.</span>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="recent-item">
                        <div class="thumb">
                            <div class="hover-contet">
                                <ul class="icons">
                                    <li>
                                        <a href="#"><i class="fa-solid fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-eye"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-basket-shopping"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <img src="/img/recent-item-01.jpeg" alt="">
                        </div>
                        <div class="down-content">
                            <h4><a href="#">Sneakers Splash VRT</a></h4>
                            <span class="price">$39.99</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="recent-item">
                        <div class="thumb">
                            <span class="banner">Sale</span>
                            <div class="hover-contet">
                                <ul class="icons">
                                    <li>
                                        <a href="#"><i class="fa-solid fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-eye"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-basket-shopping"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <img src="/img/recent-item-02.jpeg" alt="">
                        </div>
                        <div class="down-content">
                            <h4><a href="#">Classic Black Belt Watch</a></h4>
                            <span class="price"><em>$199.99</em>$129.99</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="recent-item">
                        <div class="thumb">
                            <span class="banner">Limited</span>
                            <div class="hover-contet">
                                <ul class="icons">
                                    <li>
                                        <a href="#"><i class="fa-solid fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-eye"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-basket-shopping"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <img src="/img/recent-item-03.jpeg" alt="">
                        </div>
                        <div class="down-content">
                            <h4><a href="#">Modern Light Pink Glasses</a></h4>
                            <span class="price">$99.99</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="recent-item">
                        <div class="thumb">
                            <div class="hover-contet">
                                <ul class="icons">
                                    <li>
                                        <a href="#"><i class="fa-solid fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-eye"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-basket-shopping"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <img src="/img/recent-item-04.jpeg" alt="">
                        </div>
                        <div class="down-content">
                            <h4><a href="#">Hand Bag OUG Cassual</a></h4>
                            <span class="price">$19.99</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="recent-item">
                        <div class="thumb">
                            <div class="hover-contet">
                                <ul class="icons">
                                    <li>
                                        <a href="#"><i class="fa-solid fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-eye"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-basket-shopping"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <img src="/img/recent-item-05.jpeg" alt="">
                        </div>
                        <div class="down-content">
                            <h4><a href="#">Man Bag OUG Cassual</a></h4>
                            <span class="price">$19.99</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="recent-item">
                        <div class="thumb">
                            <div class="hover-contet">
                                <ul class="icons">
                                    <li>
                                        <a href="#"><i class="fa-solid fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-eye"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-basket-shopping"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <img src="/img/recent-item-06.jpeg" alt="">
                        </div>
                        <div class="down-content">
                            <h4><a href="#">Porke Flat White Design</a></h4>
                            <span class="price">$219.99</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="recent-item">
                        <div class="thumb">
                            <div class="hover-contet">
                                <ul class="icons">
                                    <li>
                                        <a href="#"><i class="fa-solid fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-eye"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-basket-shopping"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <img src="/img/recent-item-07.jpeg" alt="">
                        </div>
                        <div class="down-content">
                            <h4><a href="#">Smart Sound Box</a></h4>
                            <span class="price">$39.99</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="recent-item">
                        <div class="thumb">
                            <div class="hover-contet">
                                <ul class="icons">
                                    <li>
                                        <a href="#"><i class="fa-solid fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-eye"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-basket-shopping"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <img src="/img/recent-item-08.jpeg" alt="">
                        </div>
                        <div class="down-content">
                            <h4><a href="#">IP Smart Sound Pods</a></h4>
                            <span class="price">$49.99</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="border-dark-button">
                        <a href="#">View All Products</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="cta-main-homepage">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-8 offset-sm-2 offset-lg-0">
                    <div class="inner-content">
                        <span class="banner">Flash Deal!</span>
                        <h4>Smart Sound Box</h4>
                        <div class="counter">
                            <h6 class="price">
                                <em>$49.99</em>
                                <br> $39.99
                            </h6>
                            <div class="row">
                                <div class="timer">
                                    <div class="col-3">
                                        <div id="days"></div>
                                        <span>Days</span>
                                    </div>
                                    <div class="col-3">
                                        <div id="hours"></div>
                                        <span>Hours</span>
                                    </div>
                                    <div class="col-3">
                                        <div id="minutes"></div>
                                        <span>Minutes</span>
                                    </div>
                                    <div class="col-3">
                                        <div id="seconds"></div>
                                        <span>Seconds</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border-dark-button">
                            <a href="#">Get It Now!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="recent-entries">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Blog Entries</h2>
                        <span>Here you can check out our blog entries.</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="entries-item">
                        <div class="thumb">
                            <a href="#">
                                <img src="/img/entries-01.jpeg" alt="">
                                <span class="date">13 January 2020</span>
                            </a>
                        </div>
                        <div class="down-content">
                            <span class="info">
                                <a href="#"><i class="fa-solid fa-user"></i>Admin</a>
                                |
                                <a href="#"><i class="fa-solid fa-message"></i> 7 Comments</a>
                            </span>
                            <a href="#">
                                <h4>Plaid before they sold everyday gastropub edison.</h4>
                            </a>
                            <p>Trade chicharrones rawing denim beard kombucha locavore and blue bottle bunch...</p>
                            <div class="text-button">
                                <a href="#">Continue Reading</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="entries-item">
                        <div class="thumb">
                            <a href="#">
                                <img src="/img/entries-02.jpeg" alt="">
                                <span class="date">13 January 2020</span>
                            </a>
                        </div>
                        <div class="down-content">
                            <span class="info">
                                <a href="#"><i class="fa-solid fa-user"></i>Admin</a>
                                |
                                <a href="#"><i class="fa-solid fa-message"></i> 7 Comments</a>
                            </span>
                            <a href="#">
                                <h4>Plaid before they sold everyday gastropub edison.</h4>
                            </a>
                            <p>Trade chicharrones rawing denim beard kombucha locavore and blue bottle bunch...</p>
                            <div class="text-button">
                                <a href="#">Continue Reading</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="entries-item">
                        <div class="thumb">
                            <a href="#">
                                <img src="/img/entries-03.jpeg" alt="">
                                <span class="date">13 January 2020</span>
                            </a>
                        </div>
                        <div class="down-content">
                            <span class="info">
                                <a href="#"><i class="fa-solid fa-user"></i>Admin</a>
                                |
                                <a href="#"><i class="fa-solid fa-message"></i> 7 Comments</a>
                            </span>
                            <a href="#">
                                <h4>Plaid before they sold everyday gastropub edison.</h4>
                            </a>
                            <p>Trade chicharrones rawing denim beard kombucha locavore and blue bottle bunch...</p>
                            <div class="text-button">
                                <a href="#">Continue Reading</a>
                            </div>
                        </div>
                    </div>
                </div>

                @*@foreach (var item in Model.Blogs)
                {
                    <div class="col-lg-4">
                        <div class="entries-item">
                            <div class="thumb">
                                <a href="#">
                                    <img src="/img/@item.BlogImage" alt="">
                                    @{
                                        DateTime today = DateTime.Today;
                                        TimeSpan diff = today.Subtract(item.CreatedDate);

                                        int days = diff.Days;
                                     }
                                    <span class="date"> @item.CreatedDate </span>
                                </a>
                            </div>
                            <div class="down-content">
                                <span class="info">
                                    <a href="#"><i class="fa-solid fa-user"></i>@(item.CustomUser.Name+" "+item.CustomUser.Surname)</a>
                                    |
                                    <a href="#"><i class="fa-solid fa-message"></i> 7 Comments</a>
                                </span>
                                <a href="#">
                                    <h4>@item.Title</h4>
                                </a>
                                <p>@item.BlogContent</p>
                                <div class="text-button">
                                    <a href="#">Continue Reading</a>
                                </div>
                            </div>
                        </div>
                    </div>

                }*@
            </div>
        </div>
    </section>

    <section id="fenco-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="info-item">
                        <div class="inner-content">
                            <div class="left-logo">
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            <div class="right-text">
                                <h6>Free Shipping</h6>
                                <span>Free, fast & secure delivery within 24h.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-item">
                        <div class="inner-content">
                            <div class="left-logo">
                                <i class="fa-solid fa-shield-blank"></i>
                            </div>
                            <div class="right-text">
                                <h6>Secure Payment</h6>
                                <span>Up to 12 months open for support tickets.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-item">
                        <div class="inner-content">
                            <div class="left-logo">
                                <i class="fa-solid fa-arrow-rotate-left"></i>
                            </div>
                            <div class="right-text">
                                <h6>30 Days Return</h6>
                                <span>30 days free returns for unhappy products.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
