@model VmHome

@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section id="slider-container">
        <div class="slider">
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="image">
                        <img src="/img/banner-image-1.jpeg" alt="">
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-content">
                                    <p class="arrivals">New Arrivals</p>
                                    <h1 class="animate__animated animate__jackInTheBox">Sneakers <span>Splash</span></h1>
                                    <!-- <h1 class="animate__animated animate__flip">An animated element</h1> -->
                                    <p class="custom-paragraph">Shoomatic offers your very comfortable time <br>on walking and exercises.</p>
                                    <div class="border-dark-button">
                                        <a href="#">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="/img/banner-image-2.jpeg" alt="">
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-content">
                                    <p class="arrivals">New Arrivals</p>
                                    <h1 class="animate__animated animate__jackInTheBox">Sneakers <span>Splash</span></h1>
                                    <!-- <h1 class="animate__animated animate__flip">An animated element</h1> -->
                                    <p class="custom-paragraph">Shoomatic offers your very comfortable time <br>on walking and exercises.</p>
                                    <div class="border-dark-button">
                                        <a href="#">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="img/banner-image-3.jpeg" alt="">
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-content">
                                    <p class="arrivals">New Arrivals</p>
                                    <h1 class="animate__animated animate__jackInTheBox">Sneakers <span>Splash</span></h1>
                                    <!-- <h1 class="animate__animated animate__flip">An animated element</h1> -->
                                    <p class="custom-paragraph">Shoomatic offers your very comfortable time <br>on walking and exercises.</p>
                                    <div class="border-dark-button">
                                        <a href="#">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="under-banner-items">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 p-0">
                    <div class="under-banner-item first-item">
                        <div class="text">
                            <h2>
                                Extreme Rare <br> Sneakers
                            </h2>
                            <div class="text-button">
                                <a href="#">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-0">
                    <div class="under-banner-item second-item">
                        <div class="text">
                            <h2>
                                Awesome <br> Blank Outfit
                            </h2>
                            <div class="text-button">
                                <a href="#">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-0">
                    <div class="under-banner-item third-item">
                        <div class="text">
                            <h2>
                                Sportwear <br> Up to 50% off
                            </h2>
                            <div class="text-button">
                                <a href="#">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @await Component.InvokeAsync("VcProduct")

    <section id="cta-main-homepage">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-8 offset-sm-2 offset-lg-0">
                    <div class="inner-content">
                        <span class="banner">Flash Deal!</span>
                        <h4>Smart Sound Box</h4>
                        <div class="counter">
                            <h6 class="price">
                                <em>$49.99</em>
                                <br> $39.99
                            </h6>
                            <div class="row">
                                <div class="timer">
                                    <div class="col-3">
                                        <div id="days"></div>
                                        <span>Days</span>
                                    </div>
                                    <div class="col-3">
                                        <div id="hours"></div>
                                        <span>Hours</span>
                                    </div>
                                    <div class="col-3">
                                        <div id="minutes"></div>
                                        <span>Minutes</span>
                                    </div>
                                    <div class="col-3">
                                        <div id="seconds"></div>
                                        <span>Seconds</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border-dark-button">
                            <a href="#">Get It Now!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @await Component.InvokeAsync("VcBlog")

    <section id="fenco-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="info-item">
                        <div class="inner-content">
                            <div class="left-logo">
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            <div class="right-text">
                                <h6>Free Shipping</h6>
                                <span>Free, fast & secure delivery within 24h.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-item">
                        <div class="inner-content">
                            <div class="left-logo">
                                <i class="fa-solid fa-shield-blank"></i>
                            </div>
                            <div class="right-text">
                                <h6>Secure Payment</h6>
                                <span>Up to 12 months open for support tickets.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-item">
                        <div class="inner-content">
                            <div class="left-logo">
                                <i class="fa-solid fa-arrow-rotate-left"></i>
                            </div>
                            <div class="right-text">
                                <h6>30 Days Return</h6>
                                <span>30 days free returns for unhappy products.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
